body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(14, 14, 98);
  background-color: rgb(198, 228, 255);
}

.header {
  padding: 20px;
  background-color: cornflowerblue;
  text-align: center;
}

.content {
  line-height: 15px;
}

.intro-content {
  display: flex;
  line-height: 20px;
}

#placeholder {
  line-height: 35px;
  background-color: khaki;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

table {
  padding: 15px;
}

td {
  padding-left: 30px;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
}

#footer {
  display: flex;
  padding: 20px;
  background-color: cornflowerblue;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}

hr {
  border-color: cornflowerblue;
  border-radius: 100px;
}