body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(14, 14, 98);
  background-color: rgb(198, 228, 255);
}

.header {
  padding: 10px;
  background-color: cornflowerblue;
  text-align: center;
}

.content {
  line-height: 12px;
}

.intro-content {
  display: flex;
  line-height: 20px;
  text-align: justify;
}

#placeholder {
  line-height: 35px;
  background-color: khaki;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

table {
  padding: 5px;
}

td {
  padding: 15px;
}

#gap {
  padding: 50px;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
}

#greeting {
  text-align: center;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.profile {
  border-radius: 50%;
  width: 350px;
  height: 430px;
}

#footer {
  display: flex;
  padding: 20px;
  background-color: cornflowerblue;
  text-align: center;
  justify-content: center;
  align-content: space-between;
  line-height: 12px;
}

hr {
  border-color: cornflowerblue;
  border-radius: 100px;
}